# Arquivos compilados
*.o
*.exe
programa
build/

# Temporários
*.tmp
*.log
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.cmake
!CMakeLists.txt